[data-theme="dark"] {
  --main-text: rgba(255, 255, 255, 1);
  --add-text: rgba(150, 150, 150, 1);
  --main-background: rgba(41, 41, 41, 1);
  --action-background: rgba(60, 60, 60, 1);
  --header-shadow: rgba(0, 0, 0, 0.1);
}