[data-theme="light"] {
  --main-text: rgba(41, 41, 41, 1);
  --add-text: rgba(176, 176, 176, 1);
  --main-background: rgba(255, 255, 255, 1);
  --action-background: rgba(242, 242, 242, 1);
  --header-shadow: rgba(57, 113, 164, 0.25);
}